{
  "parser": "babel-eslint",
  "rules": {
    "no-undef": [2],
    "no-trailing-spaces": [1],
    "space-before-blocks": [2, "always"],
    "no-unused-expressions": [0],
    "no-underscore-dangle": [0],
    "quote-props": [1, "as-needed"],
    "no-multi-spaces": [0],
    "no-unused-vars": [1],
    "no-loop-func": [0],
    "key-spacing": [0],
    "max-len": [1, 100],
    "strict": [0],
    "eol-last": [1],
    "no-console": [1],
    "indent": [1, 2],
    "quotes": [1, "single", "avoid-escape"],
    "curly": [0],

    "react/jsx-boolean-value": 1,
    "react/jsx-quotes": 1,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1,
 
    "generator-star-spacing": 0,
    "new-cap": 0,
    "object-curly-spacing": 0,
    "object-shorthand": 0,

    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-curly-spacing": [1, "always"],
    "babel/object-shorthand": 1
  },
  "plugins": [
    "react",
    "babel"
  ],
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  }
}
